/* Estilos generales */
.VistaPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  /* Contenedor principal */
  #ColumnaPrincipal {
    margin-top: 25px;
    padding: 10px;
    width: 500px;
    margin-bottom: 20px;
  }
  
  /* Contenedor de columnas */
  .AmbasColumnas {
    width: 1000px;
    display: flex;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 15px;
  }
  
  /* Imagen de la columna (a la izquierda) */
  #mujerImg {
    margin: 50px 50px 10px;
    width: 400px;
    height: 550px;
    border-radius: 25px;
  }
  
  /* Título */
  #tituloSesion {
    height: 30px;
    font-size: 24px;
  }
  
  /* Textos de entrada */
  #inicioText, #tipoUsuarioText, #passwordText, #passwordTextConfirm {
    color: black;
    font-size: 13px;
    height: 30px;
  }
  
  /* Campos de entrada */
  #email, #password, #passwordConfirm {
    width: 420px;
    height: 45px;
    border-radius: 3px;
    text-indent: 5%;
    border: 1px solid #877f7f;
    transition: background-color 0.3s ease;
  }
  #tipoUsuario{
    width: 425px;
    height: 45px;
    border-radius: 3px;
    text-indent: 5%;
    border: 1px solid #877f7f;
    transition: background-color 0.3s ease;
  }

  #tipoUsuario:hover{
    background-color: #dfdfdd;
  }
  
  #email:hover, #password:hover, #passwordConfirm:hover, #tipoUsuario:hover {
    background-color: #dfdfdd;
  }
  
  /* Botón de registrarse */
  #entrarbtn {
    margin-top: 25px;
    width: 420px;
    height: 47px;
    background-color: #2b4c32;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 25px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  #entrarbtn:hover {
    transform: scale(1.03);
  }
  
  /* Continuar texto */
  #continue {
    margin-left: 162px;
    font-size: 13px;
    color: #9794aa;
    height: 30px;
  }
  
  /* Botón de Google */
  #googlebtn {
    width: 420px;
    height: 40px;
    margin-top: 10px;
    font-weight: bold;
    color: #19181f;
    border: 1px solid #877f7f;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  #googlebtn:hover {
    background-color: #dfdfdd;
  }
  
  /* Icono de Google */
  #googleIcon {
    height: 15px;
    width: 15px;
    padding-left: 15px;
    position: absolute;
  }
  
  /* Pregunta de inicio de sesión */
  #pregunta {
    margin-left: 105px;
    font-size: 13px;
    color: #9794aa;
  }
  
  /* Botón de iniciar sesión */
  #iniciarSesion {
    font-weight: bold;
    font-size: 13px;
    color: blue;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
  }
  
  #iniciarSesion:hover {
    transform: scale(1.1);
  }
  