.headTextUserHome{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 60px;
    color: #677e6d;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* Tamaño máximo de la cuadrícula */
    margin: 0 auto; /* Centra la cuadrícula */
}
