<footer class="footer">
    <div class="footer-container">
      <div class="social-media">
        <p>¡Síguenos! somos amigables!</p>
        <div class="social-icons">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
      <div class="footer-section">
        <h4>Descubrir</h4>
        <ul>
          <li><a href="#">Conviértete en fixi</a></li>
          <li><a href="#">Todos los servicios</a></li>
          <li><a href="#">Tareas Elites</a></li>
          <li (click)="showVersion()"><a href="#" >
            Versión 
          </a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Compañía</h4>
        <ul>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">¡Fixi para el bien!</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Términos & privacidad</a></li>
          <li><a href="#">Legal</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Descarga nuestra aplicación</h4>
        <p>Aborda tu lista de tareas pendientes donde quiera que estés con nuestra aplicación móvil</p>
        <div class="app-buttons">
            <a href="https://apps.apple.com/" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFwYAvYuDoSom2E3AdXovVrYGeCgYIEwK0VEZ0WRXxfHqzfgWIfbaGZyymw8aXXnaEEw&usqp=CAU" alt="App Store">
              </a>
              <a href="https://play.google.com/store" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL5Al2Obbm7h6thmn47I0-fs486l36Noi22G6E_CoLP7EzwmCj6m4mUrGi0O9Oz5guMrc&usqp=CAU" alt="App Store">
              </a>
        </div>
      </div>
    </div>
  </footer>
  