<div class="servicesHome">
    <h1 class="servicesHomeEslogan">Tu solucion en un click</h1>
    <div class="serchBoxServicesHome">
        <input class="searchServicesInput" placeholder="¿En que necesitas ayuda?">
        <button class="btnSearch"><img class="imgSearch" src="search.png" alt=""></button>
    </div>
    <img class="servicesImg" src="services.png" alt="">
    <div class="divPageAux">
        <h2>Proyectos populares</h2>
    </div>
    <div class="grid-container">
        <app-card [title]="'Montaje de muebles'" [imageSrc]="'motajeMueble.jpeg'"></app-card>
        <app-card [title]="'Limpieza profunda'" [imageSrc]="'limpieza.jpg'"></app-card>
        <app-card [title]="'Electricidad'" [imageSrc]="'electricidad.jpeg'"></app-card>
        <app-card [title]="'Pintura de interiores'" [imageSrc]="'pintura.jpeg'"></app-card>
        <app-card [title]="'Fontanería'" [imageSrc]="'fontaneria.jpeg'"></app-card>
        <app-card [title]="'Jardinería'" [imageSrc]="'jardineria.jpg'"></app-card>
      </div>
      
</div>